# Database (для production на Render)
POSTGRES_DB=demo_db
POSTGRES_DB_PORT=5432
POSTGRES_USER=demo_user
POSTGRES_PASSWORD=demo_pass
POSTGRES_HOST=your-db-host-here

# Django settings
DJANGO_SECRET_KEY=demo_secret
DJANGO_SETTINGS_MODULE=restaurant_kitchen_service.settings.dev

# Render domain (додасться після деплою)
RENDER_EXTERNAL_HOSTNAME=your-render-domain
